<div class="bottom">
    <hr style="background-color: #939393">
    <h4>5857壁纸站有部分资源来源于互联网，图片版权归原作者所有，若有侵权问题请发邮箱975359774@qq.com告知，我们会尽快处理。</h4>
{#    <h1>Crack</h1>#}
    <div class="foot-cert">
			<div class="safety">
				<a href="http://www.12377.cn/" target="_blank" rel="nofollow"><i class="icon_safe1"></i>中国互联网举报中心</a>
				<a href="http://www.cyberpolice.cn/wfjb/" target="_blank" rel="nofollow"><i class="icon_safe2"></i>网络违法举报中心</a>
				<a href="http://www.12321.cn/" target="_blank" rel="nofollow"><i class="icon_safe3"></i>垃圾信息举报中心</a>
				<a href="http://wpa.qq.com/msgrd?v=3&uin=188831220&site=qq&menu=yes" target="_blank" rel="nofollow"><img src="http://www.5857.com/statics/v3/images/button_qq.png" alt="广告合作" title="广告合作联系专用">广告合作</a>
			</div>
{#        <p class="tips_text">Copy 2017 5857.Com. All Rights Reserved. <a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">闽ICP备16015302号-1</a></p>#}
        <p class="tips_text">Copy 2017 Peng YiWei. <a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank"></a></p>
    </div>
</div>